APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

JWT_SECRET=SomeRandomKey!!!SomeRandomKey!!!

API_STANDARDS_TREE=x
API_SUBTYPE=53spendings
API_PREFIX=api
API_DEBUG=true

